div {
  width: 100%;
  margin: auto;
}

form {
  margin-top: 1.25rem;
}
.error-message {
  color: rgb(255, 124, 84);
  font-size: 14px;
}

.button-disabled {
  background-color: #a8a8a8; /* Ou qualquer cor que desejar para o botão desativado */
}

label {
  font-weight: 400;
  color: #807676;
}
input,
select,
option {
  width: 100%;
  height: 4rem;
  padding: 1.25rem;
  margin: 0.75rem 0;
  border-radius: 0.5rem;
  border: 1px solid #ccc;

  box-sizing: border-box;
  color: #807676;
}

.optionproduto {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

button {
  background-color: #b910a3;

  color: white;
  margin-top: 1rem;
  padding: 0.75rem;
  border: none;
  width: 100%;
  height: 4rem;

  border-radius: 0.25rem;
}

button:hover {
  cursor: pointer;
  color: rgb(240, 240, 240);
}
