<table class="my-table">
  <thead>
    <tr>
      <th>Desc do produto</th>
      <th>Valor</th>
      <th>Estoque</th>
      <th>Fornecedor</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of tableProduct">
      <td>{{ product.descricao }}</td>
      <td>{{ product.valor }}</td>
      <td>{{ product.quantidade }}</td>
      <td>{{ product.unidadeMedida }}</td>
      <td>{{ product.fornecedor }}</td>
      <td>{{ product.ativo }}</td>

      <td><app-switch></app-switch></td>
    </tr>
  </tbody>
</table>
