.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;

  font-size: 1rem;
  background-color: #fff;
  border: none;
}

.icone-nav-item {
  width: 3rem;
  height: 3rem;
}
p {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Animação */

.icone-nav-item:hover {
  cursor: pointer;
  width: 3.25rem;
  height: 3.25rem;
}
p:hover {
  cursor: pointer;
}
